{% extends "base.html" %}
{% block title %}Connect Configuration{% endblock %}
{% block content %}

<h3 class="prcs-header">
  <table class="table table-striped" border="1">
    <thead class="table-primary">
      <tr>
        <th scope="col">Connect Configuration</th>
      </tr>
    </thead>
  </table>
</h3>
<table class="table table-striped" border="1">
  <thead class="table-primary">
    <tr>
      <th scope="col">Product Vendor</th>
      <th scope="col">Product Type</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Version</th>
      <th scope="col">Connect Directory</th>
      <th scope="col">Connect String</th>
      <td><button type="button" class="btn btn-primary"
          onclick='edit_connect_config(null, null, null, null, null, null, null)' data-bs-toggle="modal"
          data-bs-target="#editConnectConfigModal"><i class="fa-solid fa-plus"></i></button></td>
    </tr>
  </thead>
  {% for k,v in list.items %}
  <tr scope="row">
    <td>{{ v.vndr_nm }}</td>
    <td>{{ v.prdct_typ }}</td>
    <td>{{ v.prdct_nm }}</td>
    <td>{{ v.prdct_ver }}</td>
    <td>{{ v.cnnct_dir }}</td>
    <td>{{ v.cnnct_strng }}</td>
    <td>
      <button type="button" class="btn btn-success" onclick='edit_connect_config("{{ k }}", "{{ v.vndr_nm }}",
           "{{ v.prdct_typ }}", "{{ v.prdct_nm }}", "{{ v.prdct_ver }}", "{{ v.cnnct_dir }}", "{{ v.cnnct_strng }}")'
        data-bs-toggle="modal" data-bs-target="#editConnectConfigModal"><i class="fa-solid fa-play"></i></button>
      <button type="button" class="btn btn-warning" onclick='edit_connect_config("{{ k }}", "{{ v.vndr_nm }}",
           "{{ v.prdct_typ }}", "{{ v.prdct_nm }}", "{{ v.prdct_ver }}", "{{ v.cnnct_dir }}", "{{ v.cnnct_strng }}")'
        data-bs-toggle="modal" data-bs-target="#editConnectConfigModal"><i
          class="fa-solid fa-pen-to-square"></i></button>
      <button type="button" class="btn btn-danger"
        onclick='delete_connect_config("{{ k }}","{{ v.vndr_nm }} > {{ v.prdct_typ }} > {{ v.prdct_nm }} > {{ v.prdct_ver }}" )'
        data-bs-toggle="modal" data-bs-target="#confirmConnectConfigModal"><i
          class="fa-solid fa-trash-can"></i></button>
    </td>
  </tr>
  {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="editConnectConfigModal" tabindex="-1" aria-labelledby="editConnectConfigModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editConnectConfigModalLabel">Edit Connect Configuration</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
          {% csrf_token %}
          <input class="form-control" id="id_input_id" style="display:none" />
          <label for="id_input_vndr_nm">Vendor Name</label>
          <input class="form-control" id="id_input_vndr_nm" required />
          <label for="id_input_prdct_typ">Product Type</label>
          <input class="form-control" id="id_input_prdct_typ" required />
          <label for="id_input_prdct_nm">Product Name</label>
          <input type="text" class="form-control" id="id_input_prdct_nm" required />
          <label for="id_input_prdct_vrsn">Product Version</label>
          <input class="form-control" id="id_input_prdct_vrsn" required />
          <label for="id_input_cnnct_dir">Connect Directory</label>
          <input class="form-control" id="id_input_cnnct_dir" required />
          <label for="id_input_cnnct_strng">Connect String</label>
          <input class="form-control" id="id_input_cnnct_strng" required />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="id_button_save" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmConnectConfigModal" tabindex="-1" aria-labelledby="confirmConnectConfigModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmConnectConfigModalLabel">Confirm Connect Configuration Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
          {% csrf_token %}
          <input class="form-control" id="id_confirm_input_id" style="display:none" />
          <label for="id_confirm_input_nm">Connect Config Name</label>
          <input class="form-control" id="id_confirm_input_nm" required readonly />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="id_confirm_button_save" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}